
    p:first-of-type {
  font: 0.23em/1.33 Times New Roman, sans-serif;
    }
   h1, h2, p {
      padding: 0;
      margin: 0;
      font: 2em/2.66 Times New Roman, sans-serif;
   }
   h1, h2 {margin: 0.83em 0 0.17em 0; }
   h1, h2 {
      color: rgb(255, 0, 0);
   }
   h1 {font-size: 1.33em;}
    h2 {font-size: 1.17em;}
   p {margin: 0 0 0.5em 0;}
   p + p {text-indent: 5em;}
   div#wrapper {  
     width: 100px;  
    }  
    div#banner{  
        margin-left: 10px;  
        margin-right: 10px;  
        padding-left: 10px;  
        padding-right: 10px;  
        border-left: 1px solid black;  
        border-right: 1px solid black;  
        width: 30px;
    }
    :root 
        [data-theme="light"]{
          --primary-color-light: rgb(255, 255, 255);
          --secondary-color-light: rgb(201, 191, 191);
          --bg-color-light: rgb(255, 255, 255);
          --font-color-light: rgb(0,0,0);
          --heading-color-light: rgb(0,0,0);

          }
  
        [data-theme="dark"] {
          --primary-color-dark: rgb(0, 0, 0);
          --secondary-color-dark: rgb(39, 37, 37);
          --bg-color-dark: rgb(0, 0, 0);
          --font-color-dark: rgb(126, 218, 211);
          --heading-color-dark: rgb(203, 200, 50);
          }  
    body {
      transition: background-color 0.5s, color 0.5s;
      color: var(--font-color-light);
      background-color: var(--bg-color-light);
    }
          